<div id="test">
	<p>{{ '{{' }} p {{ '}}' }}</p>

	<test ref="test" :layout="layout" :p="pppppppppppp"></test>
</div>

<script src="/front-vue/node_modules/vue/dist/vue.global.prod.js"></script>

<script type="text/javascript">
	const test = {
		template: '<p>{{p}}</p>',

	    props: {
	        layout: {
	            type: Array,
	            required: true
	        },
	        p: {
	        	type: String
	        }
	    },

		created() {
			this.$options.template = '222'
			console.log(this.$options.template)
			this.init();
		},

		methods: {
	        init() {
	            var template = this.layout;
	            template.replaceAll('{aa}', 'this is aa');
	            template.replaceAll('{bb}', 'this is bb');
	            template.replaceAll('{cc}', 'this is cc');
	            this.$options.template = template;
	        },

	        handleLayout(data) {
	            var list = [];

	            if (typeof data === 'string') {
	            	if (data.indexOf('.') === -1) {
	                	list.push('<div>' + data + '</div>');
	            	} else {
	            		data = data.split('.');
	                	list.push('<div class="' + data[1] + '">' + data[0] + '</div>');
	            	}
	            }

	            if (data instanceof Array) {
	                var list2 = [];
	                for (var i = 0; i < data.length; i++) {
	                    list2.push(this.handleLayout(data[i]));
	                }
	                list.push('<div>' + list2.join('') + '</div>');
	            }

	            return list.join('');
	        }
		}
	}
</script>

<script type="text/javascript">
	var vue = Vue.createApp({
		data() {
			return {
				p: 'this is p',
				layout: `
				<div>
					<div class="aaa">{aa}</div>
					<div class="bottom">
						<div class="bb">{bb}</div>
						<div class="cc">{cc}</div>
					</div>
				<div>`
			}
		},
	}).component('test', test).mount('#test')
</script>