/*
!/.gitignore
!/files/
!/images/
!/themes/
!/system/
!/.editorconfig
!/.htaccess
!/index.php
!/LICENSE
!/README.md
!/robots.txt


/*
!/system/
/system/database/database.db3
!/themes/
!/vue/
!/.editorconfig
!/.gitignore
!/.htaccess
!/index.php
!/LICENSE
!/README.md
!/robots.txt