/*
!/js1/
!/package/
/package/FileManager/_files/
!/system/
/system/bootstrap/cache/*
/system/database/custom/
/system/database/*.sqlite
/system/database/*.sqlite-journal
/system/database/*.db3
/system/language/*
!/system/language/code.php
!/system/language/en.php
!/system/language/zh.php
/system/storage/debugbar/*
/system/storage/framework/cache/
/system/storage/framework/sessions/*
/system/storage/framework/views/*
/system/storage/logs/*
/system/storage/settings/*
/system/vendor/
/system/.env
!/themes/
/themes/frontend/vue/node_modules/
/themes/frontend/template/*
!/themes/frontend/template/message/
!/themes/frontend/template/specs/
!/themes/frontend/template/*.twig
!/.editorconfig
!/.gitignore
!/.htaccess
!googled6ef69bf2669f4b4.html
!/index.php
!/LICENSE
!/README.md
!/robots.txt
!/run.bat
!/**/.gitkeep