/*
!/front-vue/
/front-vue/node_modules/
/js/
!/system/
/system/database/database.db3
/system/language/*
!/system/language/code.php
!/system/language/en.php
!/system/language/zh.php
/system/storage/debugbar/*
!/system/storage/debugbar/.gitignore
/system/storage/framework/cache/
/system/storage/framework/sessions/*
!/system/storage/framework/sessions/.gitignore
/system/storage/framework/views/*
!/system/storage/framework/views/.gitignore
/system/storage/logs/*
!/system/storage/logs/.gitignore
/system/storage/settings/*
!/system/storage/settings/.gitignore
/system/vendor/*
/system/.env
!/themes/
/themes/frontend/template/*
!/.editorconfig
!/.gitignore
!/.htaccess
!googled6ef69bf2669f4b4.html
!/index.php
!/LICENSE
!/README.md
!/robots.txt
!/run.bat