<form id="form_request" action="{{ action }}" method="post">
    <div class="item">
        <i class="iconfont icon-user"></i>
        <input type="text" name="name" placeholder="Full name *">
    </div>
    <div class="item">
        <i class="iconfont icon-email"></i>
        <input type="text" name="email" placeholder="E-mail Address *">
    </div>
    <div class="item">
        <i class="iconfont icon-phone"></i>
        <input type="text" name="phone" placeholder="Country Code + Phone Number *">
    </div>
    <div class="item">
        <i class="iconfont icon-edit"></i>
        <textarea name="message" placeholder="Message *" rows="4"></textarea>
    </div>
    <div class="item">
        <button>Submit</button>
    </div>
</form>