<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}{% endblock %}
{% block headAssets %}{% endblock %}
{% block insertHeadBottom %}{% endblock %}
</head>

<body>
  {% block insertBodyTop %}{% endblock %}
  {% block top_logo_nav %}{% endblock %}
  {% block main %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block popup %}{% endblock %}
  {% block js %}{% endblock %}
  {% block insertBodyBottom %}{% endblock %}
</body>

</html>