* {
  box-sizing: border-box;
}
body {
  font-family: SegoeUI,sans-serif;
  font-size: 12px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  background-color: #fff;
  font-weight: 400;
  position: relative;
}
.region {
  border: none;
  padding: 20px 0;
  margin: 0;
}
.stage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.c-pagination {
  display: flex;
  align-items: center;
  margin: 20px auto;
  font-size: 14px;
}

.c-pagination__prev, .c-pagination__next, .c-pagination__pager {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f5;
  color: #606266;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.c-pagination__pagers {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.c-pagination__pager.is-active {
  background-color: orangered;
  border-color: orangered;
  color: #fff;
  background-color: #409eff;
    color: #fff;
}

.c-pagination__icon {
  width: 20px;
  height: 20px;
  color: #606266;
  fill: #606266;
}

.c-pagination__pager > .c-pagination__icon {
  width: 14px;
  height: 14px;
}

.c-pagination__prev[disabled], .c-pagination__next[disabled] {
  cursor: not-allowed;
  color: #c0c4cc;
}

[disabled]>.c-pagination__icon {
  fill: #c0c4cc;
}

.image{display:inline-flex;align-items:center;justify-content:center;padding:0;overflow:hidden}
.image img{max-height:100%;max-width:100%}
.image-wrapper{display:inline-flex;vertical-align:middle}
.image-wrapper,[data-aspect-ratio]{position:relative}
.image-wrapper>.image,[data-aspect-ratio]>.image{position:absolute;top:0;bottom:0;left:0;right:0}
.image-wrapper::before,[data-aspect-ratio]:before{content:'';display:block;padding-top:75%}
[data-aspect-ratio="2/1"]:before,[data-aspect-ratio="2:1"]:before,[data-aspect-ratio="50%"]:before{padding-top:50%}
[data-aspect-ratio="16/9"]:before,[data-aspect-ratio="16:9"]:before{padding-top:56.25%}
[data-aspect-ratio="3/2"]:before,[data-aspect-ratio="3:2"]:before{padding-top:66.66667%}
[data-aspect-ratio="4/3"]:before,[data-aspect-ratio="4:3"]:before,[data-aspect-ratio="75%"]:before{padding-top:75%}
[data-aspect-ratio="5/4"]:before,[data-aspect-ratio="5:4"]:before,[data-aspect-ratio="80%"]:before{padding-top:80%}
[data-aspect-ratio="1/1"]:before,[data-aspect-ratio="100%"]:before,[data-aspect-ratio="1:1"]:before{padding-top:100%}
[data-aspect-ratio="150%"]:before,[data-aspect-ratio="2/3"]:before,[data-aspect-ratio="2:3"]:before{padding-top:150%}

.data-panel {
  display: flex;
  align-items: stretch;
  padding: 20px;
}
.data-filter {
  width: 300px;
  padding: 20px;
  border: 1px solid #b1b1b1;
  margin-right: 20px;
}
.data-filter__group {
  margin: 20px 0;
}

.data-layout--table {
  /* flex: 1; */
  width: calc(100% - 300px);
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
  min-width: auto;
  overflow-x: auto;
}

.data-layout--table table {
  font-size: 14px;
  border-collapse: collapse;
}
.data-layout--table th {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ddd;
}
.data-layout--table td {
  padding: 5px 15px;
  border: 1px solid #ddd;
}
.data-layout--table tbody tr:nth-child(odd) td {
  background-color: #fff;
}
.data-layout--table tbody tr:nth-child(even) td {
  background-color: #f2f2f2;
}
.data-layout--table th .sorting-indicator {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  justify-content: center;
}
.data-layout--table th .sorting-indicator::after, .data-layout--table th .sorting-indicator::before {
  content: "";
  display: block;
  margin: 1px 0;
  border-style: solid;
  border-color: #c0c4cc transparent;
}
.data-layout--table th .sorting-indicator::before {
  border-width: 0 5px 6px;
}
.data-layout--table th .sorting-indicator::after {
  border-width: 6px 5px 0;
}
.data-layout--table th .sorting-indicator.ascending::before {
  border-bottom-color: #0181c6;
}
.data-layout--table th .sorting-indicator.descending::after {
  border-top-color: #0181c6;
}

.data-layout__header-content {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.data-layout__column-content .image-wrapper {
  width: 40px;
}
