<el-pagination
    v-if="{{ condition }}"
    :class="pagination.class"
    v-model:current-page="pagination.currentPage"
    v-model:page-size="pagination.pageSize"
    :small="pagination.small"
    :background="pagination.background"
    :default-page-size="pagination.defaultPageSize"
    :total="pagination.total ? pagination.total : (screenList ? screenList.length : 0)"
    :page-count="pagination.pageCount"
    :pager-count="pagination.pagerCount"
    :default-current-page="pagination.defaultCurrentPage"
    :layout="pagination.layout"
    :page-sizes="pagination.pageSizes"
    :popper-class="pagination.popperClass"
    :prev-text="pagination.prevText"
    :next-text="pagination.nextText"
    :disabled="pagination.disabled"
    :hide-on-single-page="pagination.hideOnSinglePage"
></el-pagination>