<el-input
    v-model="keywords"
    :class="search.inputConfig.class"
    :type="search.inputConfig.type"
    :maxlength="search.inputConfig.maxlength"
    :minlength="search.inputConfig.minlength"
    :show-word-limit="search.inputConfig.showWordLimit"
    :placeholder="search.inputConfig.placeholder"
    :clearable="search.inputConfig.clearable"
    :show-password="search.inputConfig.showPassword"
    :disabled="search.inputConfig.disabled"
    :size="search.inputConfig.size"
    :prefix-icon="search.inputConfig.prefixIcon"
    :suffix-icon="search.inputConfig.suffixIcon"
    :rows="search.inputConfig.rows"
    :autosize="search.inputConfig.autosize"
    :autocomplete="search.inputConfig.autocomplete"
    :name="search.inputConfig.name"
    :readonly="search.inputConfig.readonly"
    :max="search.inputConfig.max"
    :min="search.inputConfig.min"
    :step="search.inputConfig.step"
    :resize="search.inputConfig.resize"
    :autofocus="search.inputConfig.autofocus"
    :form="search.inputConfig.form"
    :label="search.inputConfig.label"
    :tabindex="search.inputConfig.tabindex"
    :validate-event="search.inputConfig.validateEvent"
    :input-style="search.inputConfig.inputStyle"
    @input="handleData('searchInput')"
    @change="handleData('searchChange')"
></el-input>