<el-radio-group
    v-if="{{ condition }}"
    :class="selector.class"
    v-model="selector.value"
    :size="selector.config.size"
    :disabled="selector.config.disabled"
    :text-color="selector.config.textColor"
    :fill="selector.config.fill"
>
    <el-radio-button
        v-for="(item, key) in selector.list"
        :label="key"
        :disabled="item.disabled"
        :border="item.border"
        :size="item.size"
        :name="item.name"
    >{{ item.text }}</el-radio-button>
</el-radio-group>