<el-table
    v-if="{{ condition }}"
    :data="currentList"
    :height="table.config.height"
    :max-height="table.config.maxHeight"
    :stripe="table.config.stripe"
    :border="table.config.border"
    :size="table.config.size"
    :fit="table.config.fit"
    :show-header="table.config.showHeader"
    :highlight-current-row="table.config.highlightCurrentRow"
    :current-row-key="table.config.currentRowKey"
    :row-class-name="table.config.rowClassName"
    :row-style="table.config.rowStyle"
    :cell-class-name="table.config.cellClassName"
    :cell-style="table.config.cellStyle"
    :header-row-class-name="table.config.headerRowClassName"
    :header-row-style="table.config.headerRowStyle"
    :header-cell-class-name="table.config.headerCellClassName"
    :header-cell-style="table.config.headerCellStyle"
    :row-key="table.config.rowKey"
    :empty-text="table.config.emptyText"
    :default-expand-all="table.config.defaultExpandAll"
    :expand-row-keys="table.config.expandRowKeys"
    :tooltip-effect="table.config.tooltipEffect"
    :show-summary="table.config.showSummary"
    :sum-text="table.config.sumText"
    :summary-method="table.config.summaryMethod"
    :span-method="table.config.spanMethod"
    :select-on-indeterminate="table.config.selectOnIndeterminate"
    :indent="table.config.indent"
    :lazy="table.config.lazy"
    :load="table.config.load"
    :tree-props="table.config.treeProps"
    :table-layout="table.config.tableLayout"
    :scrollbar-always-on="table.config.scrollbarAlwaysOn"
    @sort-change="sortChange"
    @row-click="handleTableRowClick"
    style="width: 100%"
>
    <el-table-column
        v-for="item in table.column"
        :prop="item.field"
        :label="item.title || item.field"
        :sortable="item.sortable === true ? 'custom' : false"
        :formatter="item.formatter"
        :type="item.type"
        :index="item.index"
        :column-key="item.columnKey"
        :width="item.width"
        :min-width="item.minWidth"
        :fixed="item.fixed"
        :render-header="item.renderHeader"
        :sort-method="item.sortMethod"
        :sort-by="item.sortBy"
        :sort-orders="item.sortOrders"
        :resizable="item.resizable"
        :show-overflow-tooltip="item.showOverflowTooltip"
        :align="item.align"
        :header-align="item.headerAlign"
        :class-name="item.className"
        :label-class-name="item.labelClassName"
        :selectable="item.selectable"
        :reserve-selection="item.reserveSelection"
        :filters="item.filters"
        :filter-placement="item.filterPlacement"
        :filter-multiple="item.filterMultiple"
        :filter-method="item.filterMethod"
        :filtered-value="item.filteredValue"
    >
        <template #default="scope">
            <span v-html="scope.row[item.field]"></span>
        </template>
    </el-table-column>
</el-table>