<el-table v-if="{{ condition }}" :data="currentList" @sort-change="sortChange" @row-click="handleTableRowClick" style="width: 100%" {{ config }}>
    <el-table-column
        v-for="item in table.column"
        :prop="item.field"
        :label="item.title || item.field"
        :sortable="item.sortable === true ? 'custom' : false"
        :formatter="item.formatter"
        :type="item.type"
        :index="item.index"
        :column-key="item.columnKey"
        :width="item.width"
        :min-width="item.minWidth"
        :fixed="item.fixed"
        :render-header="item.renderHeader"
        :sort-method="item.sortMethod"
        :sort-by="item.sortBy"
        :sort-orders="item.sortOrders"
        :resizable="item.resizable"
        :show-overflow-tooltip="item.showOverflowTooltip"
        :align="item.align"
        :header-align="item.headerAlign"
        :class-name="item.className"
        :label-class-name="item.labelClassName"
        :selectable="item.selectable"
        :reserve-selection="item.reserveSelection"
        :filters="item.filters"
        :filter-placement="item.filterPlacement"
        :filter-multiple="item.filterMultiple"
        :filter-method="item.filterMethod"
        :filtered-value="item.filteredValue"
    >
        <template #default="scope">
            <span v-html="scope.row[item.field]"></span>
        </template>
    </el-table-column>
</el-table>